<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AppFami</title>
</head>
<body>
<ul>
  <li>
    <h1>El primer familiar se llama {{nombre}} con apellido {{apellido}} y tiene {{edad}} anios.<br>fecha de verificacion {{ fecha }} </br></h1>
    <h1>El primer familiar se llama {{nombre_damian}} con apellido {{apellido_damian}} y tiene {{edad_damian}} anios. <br>fecha de verificacion {{ fecha }} </br></h1>
    <h1>El primer familiar se llama {{nombre_ricardo}} con apellido {{apellido_ricardo}} y tiene {{edad_ricardo}} anios. <br>fecha de verificacion {{ fecha }} </br></h1>
  </li>  
</ul>

   

</body>
</html>